<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="counter-wrapper">
        <div id="countdown" class="clock"></div>
        <h4>2015 is near.</h4>
        <h2>Need a New Years Resolution?</h2>
      </div>
    </div>
  </div>
</div>

