#countdown {
  text-align: center;
  border-radius: 4px;
}

.counter-wrapper {  
  text-align: center;
  font-size: 1em;
}

.clock {
  position: relative !important;
  margin: 0 auto !important;
  padding-top: 100px;
  height:100px;
  width: 620px;
  zoom: .5;
  transform: scale(.94);
  -ms-transform: scale(.94);  
  -webkit-transform: scale(.94); 
  -o-transform: scale(.94); 
  -moz-transform: scale(.94); 
}

.flip-clock-wrapper {
  position: relative; 
}


@media (min-width: 768px) {
  .clock {
    zoom: 1;
  }
}




